.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 0;

	.container {
		width: 100%;
		height: 502px;
		background: #ff8b1f;
		display: flex;
		align-items: center;
		flex-direction: column;
		
		&-gradient {
			position: absolute;
			width: 100%;
			height: 502px;
			display: flex;

			.gradient {
				width: 50%;
				height: 100%;
				background: radial-gradient(circle at center, #ffd10d,  #ff8b1f);
			}
		}

		&-registr {
			width: 960px;
			height: 466px;
			background: #f8f8f8;
			margin: 18px 0;
			display: flex;
					

			.single {
				width: 480px;
				height: 436px;
				z-index: 2;				
					
				.img {
					width: 480px;
					height: 466px;
					overflow: hidden;
					position: relative;
					margin-left: -4px;

					.girl-2 {
						position: absolute;
						left: -60px;
					}

					.girl {
						width: 100%;
						height: 100%;
					}

					.couple-2 {
						position: absolute;
						top: -95px;
					}

					.couple {
						position: absolute;
						top: -37px;
					}
				}
			}
		}	

		.effect	{
			position: relative;
			
		
			&:before, 
			&:after {
				z-index: 1;
				position: absolute;
				content: "";
				bottom: 9px;
				left: 10px;
				width: 50%;
				top: 80%;
				max-width:350px;				
				-webkit-box-shadow: 0 16px 6px rgba(0, 0, 0, 0.2);
				-moz-box-shadow: 0 16px 6px rgba(0, 0, 0, 0.2);
				box-shadow: 0 16px 6px rgba(0, 0, 0, 0.2);
				-webkit-transform: rotate(-2deg);
				-moz-transform: rotate(-2deg);
				-o-transform: rotate(-2deg);
				-ms-transform: rotate(-2deg);
				transform: rotate(-2deg);
			}
			
			&:after	{
				-webkit-transform: rotate(2deg);
				-moz-transform: rotate(2deg);
				-o-transform: rotate(2deg);
				-ms-transform: rotate(2deg);
				transform: rotate(2deg);
				right: 10px;
				left: auto;				
			}
		}
	}
}

