.userList {
	width: 390px;
	height: 320px;

	.caption {
		font-size: 31px;
		font-family: Source Sans Pro Light; 
		color: #4e4e4e;
		margin-bottom: 27px;

		.multiple {
			width: 390px;	
			position: relative;		

			&-img {
				width: 70px;
				height: 70px;
				margin: 0 -15px;											

				.img {
					width: 70px;
					hyphens: 70px;					
					display: block;													
				}
			}						
		}	
	}

	.slick-active {
		height: 70px;
		width: 70px;		

		&:hover {
			position: relative;			
			cursor: pointer;	
			opacity: 0.4;		
		}
	}

	.background-block {
		position: absolute;
		display: flex;
		width: 390px;
		justify-content: space-around;

		.block {
			width: 70px;
			height: 70px;			
			background: #000;	
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-family: Source Sans Pro ExtraLight;
			font-size: 16px;
			color: #fff;			
		}
	}	
}